/* main styles */
@font-face {
  font-family: Unikurd-Jino;
  src: url('../fonts/KJino.ttf');
}

@font-face {
  font-family: Ali-Rebaz47;
  src: url('../fonts/AliR47.ttf');
}

* {
  font-family: 'Segoe UI';
}

.center {
  display: block;
  text-align: center;
}

.ta-container {
  position: relative;
  height: 100%;
}

.unicodeStyle {
  font-family: Unikurd-Jino;
}

.aliStyle {
  font-family: Ali-Rebaz47;
  font-weight: 600;
}

/* Default light theme */
:root {
  --text-color: #121212;
  --textarea-background-color: #ffffff;
  --textarea-color: black;
  --body-background-color: #8EC5FC;
  --body-background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  --light: #d8dbe0;
  --dark: #28292c;

}

/* Dark theme */
[theme="dark"] {
  --text-color: #f7f7f7;
  --textarea-background-color: #363636;
  --textarea-color: #f7f7f7;
  --body-background-color: #303030;
  --body-background-image: linear-gradient(62deg, #343434 0%, #242424 100%);
}


/* theme variable */
body {
  background-color: var(--body-background-color);
  background-image: var(--body-background-image);
}

.text {
  color: var(--text-color);
}

textarea {
  background-color: var(--textarea-background-color);
  color: var(--textarea-color);
}

/* Slider styling */
.theme-switch-container {
  display: flex;
  align-items: center;
  direction: ltr;
}

.theme-slider {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 45px;
}

.theme-slider input {
  display: none;
}

.slider {
  background-color: #28292c;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  bottom: 4px;
  content: "";
  height: 18px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 18px;
  box-shadow: inset 6px -1.5px 0px 0px var(--light);
  background-color: var(--dark);
}

input:checked+.slider {
  background-color: var(--light);
}

input:checked+.slider:before {
  transform: translateX(18px);
  background-color: var(--dark);
  box-shadow: none;
}

.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Drag drop */
textarea[drop-active=true] {
  border: 3px dashed #f71165;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

textarea[drop-active=true]+img {
  display: block;
}

/* Loading overlay */
.loading-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.loading-gif {
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* info image */
#info {
  position: absolute;
  cursor: pointer;
}

/* Ramadan theme */
.rm-bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  overflow: hidden;
  z-index: -2;
}

.rm-bg-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/rm-bg.png');
  background-repeat: repeat-x;
  background-size: 40%;
  z-index: -2;
}

.rm-lantern-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 250px;
  overflow: hidden;
  z-index: -1;
}

.rm-lantern-container::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/rm-lantern.png');
  background-repeat: repeat-x;
  background-size: 45%;
  z-index: -1;
}