html, body {
     background-color: #1c2329;
     margin: 15px 10% 0px 10%;
 }
 
 .name, span {
     color: #ffffff;
 }
 
 h1 {
     color: #ffffff;
     font-family: 'Lato', sans-serif;
     font-size: 50px;
     font-weight: 300;
     line-height: 58px;
     margin: 0 0 25px;
 }

 .donation {
    text-align: center;
 }

 .donate-btns {
    text-align: center;
 }

 .donate-btns form,
 .donate-btns img.donate-burger {
     display: inline-block;
     vertical-align: middle;
     margin: 0px 5px 10px 5px ;
 }

 .donate-burger {
    width: 150px;
    height: 31px;
    cursor: pointer;
 }
 
 p {
     color: #adb7bd;
     font-family: 'Lucida Sans', Arial, sans-serif;
     font-size: 16px;
     line-height: 26px;
     margin: 0;
 }
 
 a {
     color: #fe921f;
     text-decoration: underline;
 }
 
 a:hover {
     color: #ffffff;
 }
 
 .date {
     background: #fe921f;
     color: #ffffff;
     display: inline-block;
     font-family: 'Lato', sans-serif;
     font-size: 12px;
     font-weight: bold;
     line-height: 12px;
     letter-spacing: 1px;
     margin: 0 0 10px;
     padding: 10px 15px 8px;
     text-transform: uppercase;
 }
 
 .current {
     background: #29a76a !important;
 }
 